/* селекторы тега */
h1{
	font-size: 30px;
	color: rgb(228, 35, 35)
}
h2{
	font-size: 24px;
	color:rgb(39, 19, 223);
}
/* комлпексный селектор. Перечисление */
p,li{
	font-size: 18px;
}

/* селектор класса */
.when{
color: #27e416;
}

/* селектор класса с уточнением по тегу */
span.where{
	color: #727e0c;
}

.distance{
	color: #f011b8;
}
/* более приоритетный id */
#crazy{
	color: #07f5e1;
}

/* селектор по 2-м классам ОДНОВРЕМЕННО */
.site.work{
	color: green;
}

/* селектор по вложенности тегов один в другой + наличие нужного класса*/
section span.dontwork{
	color: red;
}

/* множественный селектор вложенности по тегам + класс*/
section.section-1 p.description span.hard{
	color: red;
}

/* ещё раз по имени класса. Приоритет ниже, поэтому цвет предыдущего пункта не изменится */
.hard{
	color:greenyellow
}


